Repository cncf/tag-env-sustainability, pull requests merged in 2023-12, with the labels that each got.

#289 Content QA: establish baseline and add fixes
  .github/ISSUE_TEMPLATE/tracking.md
  cspell.json
  governance/github.md
  governance/lead-proposal-process.md
  governance/paper-process.md
  governance/presentations.md
  link-config.json
  projects/glossary/README.md
  projects/landscape/README.md
  tag-custom-dictionary-cspell.txt
  website/content/blog/2023-05-kccn-wrap-up.md
  website/content/blog/2023-09-cloud-native-sustainability-week.md
  website/content/blog/2023-10-embracing-edge-computing-with-kepler.md
  website/content/blog/2023-10-reducing-your-environmental-impact-with-the-linkerd-service-mesh.md
  website/content/blog/2023-10-the-road-to-scaphandre-v1.0-challenges-and-improvements-to-come-on-IT-energy-consumption-evaluation.md
  website/content/blog/2023-11-getting-started-as-a-tag-env-contributor.md
  website/content/events/2023-cloud-native-sustainability-week.md
  website/content/landscape/SustainabilityUseCasesAndLandscape2023.ko.md
  website/content/landscape/_index.md
  working-groups/green-reviews/README.md
  writing-style.md
Labels: enhancement, website

#305 Update Working Groups and Slack information
  README.md
  governance/blogpost-process.md
  governance/meeting-host-playbook.md
  website/content/en/_index.md
  website/content/en/about/working-groups.md
  website/content/en/blog/2023-05-kccn-wrap-up.md
  website/content/en/blog/2023-11-getting-started-as-a-tag-env-contributor.md
  website/content/zh/_index.md
  website/content/zh/about/working-groups.md
  working-groups/communications/README.md
  working-groups/green-reviews/README.md
Labels: documentation, working-group/comms, working-group/green-reviews, website

#283 Added draft blog post for buildpacks rebase
  website/content/blog/2023-11-reduce-reuse-rebase-buildpacks.md
  website/static/images/blogs/2023-11-reduce-reuse-rebase-buildpacks/cnb-green-logo.png
  website/static/images/blogs/2023-11-reduce-reuse-rebase-buildpacks/cnb-new-base.png
  website/static/images/blogs/2023-11-reduce-reuse-rebase-buildpacks/cnb-rebase.png
Labels: blog post
