Repository cncf/tag-env-sustainability, pull requests merged in 2024-03, with the labels that each got.

#340 Initial TAG Env website into Spanish
  .github/workflows/checks.yml
  cspell.json
  link-config.json
  website/config.toml
  website/content/es/_index.md
  website/content/es/about/_index.md
  website/content/es/about/working-groups.md
  website/content/es/blog/2023-05-kccn-wrap-up.md
  website/content/es/blog/2023-09-cloud-native-sustainability-week.md
  website/content/es/blog/2023-10-embracing-edge-computing-with-kepler.md
  website/content/es/blog/2023-10-reducing-your-environmental-impact-with-the-linkerd-service-mesh.md
  website/content/es/blog/2023-10-the-road-to-scaphandre-v1.0-challenges-and-improvements-to-come-on-IT-energy-consumption-evaluation.md
  website/content/es/blog/2023-10-towards-optimized-microservices-performance-sustainability-via-istio-kepler-and-smart-scheduling.md
  website/content/es/blog/2023-10-welcome-cloud-native-sustainability-week-2023.md
  website/content/es/blog/2023-11-getting-started-as-a-tag-env-contributor.md
  website/content/es/blog/2023-12-reduce-reuse-rebase-buildpacks.md
  website/content/es/blog/_index.md
  website/content/es/events/2023-Kubecon-na.md
  website/content/es/events/2023-cloud-native-sustainability-week.md
  website/content/es/events/2023-kubecon-eu.md
  website/content/es/events/2023-oss-na.md
  website/content/es/events/_index.md
  website/content/es/glossary/_index.md
  website/content/es/landscape/SustainabilityUseCasesAndLandscape2023.es.md
  website/content/es/landscape/_index.md
  website/content/es/search.md
Labels: working-group/comms, website, translations

#344 Add KubeCon EU 2024 Details to Website
  website/content/en/events/2023-kubecon-eu.md
  website/content/en/events/2024-kubecon-eu.md
Labels: working-group/comms

#349 Fix Weighting for Events and Adjust EU KubeCon Talks
  website/content/en/events/2023-Kubecon-na.md
  website/content/en/events/2023-cloud-native-sustainability-week.md
  website/content/en/events/2023-kubecon-eu.md
  website/content/en/events/2023-oss-na.md
  website/content/en/events/2024-kubecon-eu.md
Labels: conference, working-group/comms

#351 add blog green reviews wg moving towards measuring sustainability footprint cncf projects
  website/content/en/blog/2024-03-15-green-reviews-working-group-moving-towards-measuring-the-sustainability-footprint-of-cncf-projects.md
  website/static/images/blogs/2024-03-15-green-reviews-working-group-moving-towards-measuring-the-sustainability-footprint-of-cncf-projects/green-reviews-wg-workflow-vision.webp
  website/static/images/blogs/2024-03-15-green-reviews-working-group-moving-towards-measuring-the-sustainability-footprint-of-cncf-projects/sci-grafana-dashboard.webp
  website/static/images/blogs/2024-03-15-green-reviews-working-group-moving-towards-measuring-the-sustainability-footprint-of-cncf-projects/separation-responsabilities-cncf-projects-green-reviews-wg.webp
  website/static/images/blogs/2024-03-15-green-reviews-working-group-moving-towards-measuring-the-sustainability-footprint-of-cncf-projects/tag-working-groups.webp
Labels: blog post, working-group/comms, working-group/green-reviews, website

#354 Update KubeCon+CloudNativeCon Europe 2024 TAG meetup info
  website/content/en/events/2024-kubecon-eu.md
Labels: website

#352 Updated access management document with 1Password information
  governance/README.md
  governance/access-management.md
Labels: documentation, governance
