Repository cncf/tag-env-sustainability, pull requests merged in 2024-04, with the labels that each got.

#377 Add Green Scraper project
  projects/2024-best-practices-for-sustainable-k8s-clusters/README.md
  projects/2024-green-scraper/README.md
  website/content/en/about/projects.md
Labels: documentation, project/greenscraper

#381 Update Green Scraper project details
  projects/2024-green-scraper/README.md
  website/content/en/about/projects.md
Labels: project/greenscraper

#383 Update Issue templates
  .github/ISSUE_TEMPLATE/01-action.yml
  .github/ISSUE_TEMPLATE/02-bug.yml
  .github/ISSUE_TEMPLATE/04-project-suggestion.yml
  .github/ISSUE_TEMPLATE/05-project-tracking.yml
  .github/ISSUE_TEMPLATE/07-retrospective.yml
  .github/ISSUE_TEMPLATE/08-blog.yml
  .github/ISSUE_TEMPLATE/09-presentation.yml
  .github/ISSUE_TEMPLATE/blog.md
  .github/ISSUE_TEMPLATE/comm-channel.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/presentation.md
  .github/ISSUE_TEMPLATE/project-suggestion.md
  .github/ISSUE_TEMPLATE/project-tracking.md
  .github/ISSUE_TEMPLATE/retrospective.md
  .github/ISSUE_TEMPLATE/tracking.md
Labels: kind/enhancement, board/tag
